.container {
	max-width: 1230px;
	padding: 0 30px;
	margin: 0 auto;
}
.site-container{
overflow: hidden;
}
.flex {
	display:flex;
}


.second{
	padding-top: 150px;
	background-color:#F5FDFF

}

.background{
	background-color: var(--blue-color);
}


