@import "_normalize.css";
@import "_fonts.css";
@import "_variables.css";
@import "_vendor.css";
@import "_global.css";
@import "_overall.css";
@import "./components/_header.css";
@import "./components/_first.css/_first.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

.icon {
    display: flex;
    margin-top: 29px;
    align-items: center;
    margin-left: 29px;
    position: relative;
    width: 100%;
    padding: 0 0 38px 0;
}

.icon_city {
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #3A4244;
    margin-right: 50px;

}

.icon_geo {
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #3A4244;
    margin-right: 72px;
}

.icon_call {
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #3A4244;
    margin-right: 78px;
}

.icon_number {
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #3A4244
}

.nsk {
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #3A4244;
    border-bottom: 1px dashed #3A4244;
    line-height: 1.1em;
    display: inline-block;
}

.button {
    top: -11px;
    position: absolute;
    width: 191px;
    height: 41px;
    border: 1px solid #67A955;
    box-sizing: border-box;
    border-radius: 32px;
    text-align: center;
    padding: 12px;
    line-height: 20px;
    right: 20px;

    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #3A4244;
}


.icon_call1 {
    margin-right: 8px;
}

.icon_city1 {
    margin-right: 8px;
}

.icon_geo1 {
    margin-right: 10px;
}

.header_logo_pic {
    width: 214px;
    height: 34px;
}

/* first*/
h1.first_title {
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    color: #3A4244;
    margin: 204px 0 11px 2px;
}

h2.first_subtitle {
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    color: #4092BF;
    margin-bottom: 63px;
    margin-left: 2px;
}

.circle {
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #3A4244;
}


.list {
    margin: -23px 0px 58px 0px;
}

.list_el {
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #3A4244;
    padding: 20px 0 0 0;
    display: flex;
    align-items: center;
}

.list_el::before {
    content: url(../img/svg/circle.svg);
    padding: 0px 15px 0 0px;
    align-items: center;
}

/* Botton */

.botton_green {
    margin: 0 0 0 398px;
    height: 268px;
}

.button_first {
    position: absolute;
    width: 370px;
    height: 69px;
    background: radial-gradient(39.13% 39.13% at 50% 5.8%, rgba(255, 255, 255, 0.31) 0%, rgba(255, 255, 255, 0.19) 100%), linear-gradient(79.2deg, rgba(33, 173, 98, 0.96) 66.1%, #00B95C 95.75%);
    box-shadow: 0px 6px 1px #429976;
    border-radius: 41px;
    box-sizing: border-box;
    line-height: 70px;

    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    margin: 0 0px 0px 4px;
    border: 0;
    outline: none
}

.button_send {
    margin: 0px 0 -9px 12px;
    padding: 0 0px 4px 0px;
}

.credit {
    position: absolute;
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    max-width: 193px;
    color: #889396;
    margin: 88px 0px 0px 87px;
}

.credit h4 {
    min-width: 197px;
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #889396;
}

.first_girl {

    display: flex;
    justify-content: flex-end;

    margin: 0px 11px -698px 0px
}

.girl_pic {
    z-index: 1;
    position: relative;
}

.button_calc {
    position: absolute;
    margin: 305px 303px 0px 0;
    display: flex;
    flex-direction: row;
    width: 306px;
    height: 100px;

    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(13px);
    z-index: 1;
    border-radius: 20px;
}


.calc_text {
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #3A4244;
    margin-bottom: 5px;
}

.calc_text2 {
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 14px;
    color: #3A4244;
    max-width: 172px;
}

.button_calcend {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 13px;
}

.button_calcplay {
    margin: 36px 0px 0px 23px;
}

.info {
    display: flex;
    justify-content: space-between;
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #3A4244;
    line-height: 18px
}

.info > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mini {
    margin: 4px 0px 4px 12px;
}

.pasport {
    margin: 6px 0px 8px 27px;
}

.history {
    margin: -1px 1px 0px 0px;
}

.icon_mini {
    padding: 2px 12px 0px 0px;
}

.icon_pasport {
    margin: 0px 9px 0px 0px;
}

.icon_history {
    margin: 0px 8px 2px 14px;
}

/* Second */
.second_sd {
    font-family: Graphik;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    display: flex;
    letter-spacing: 0.025em;
    color: #3A4244;
    margin: -5px 0px 16px 0px;
    text-transform: uppercase;
    max-width: 903px;
}


.second_sd_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.045em;
    max-width: 450px;
    color: #3A4244;

    margin-left: 5px;
}

.second_sd_text_marg {
    margin-bottom: 134px;
}

.line_text {
    border-left: 6px solid #4092BF;
    margin-left: 2px;
    padding-left: 16px;
}

.car {
    margin-left: -17px;
    margin-bottom: 126px;
}

.second_cards {
    display: grid;
    grid-column-gap: 23px;
    grid-row-gap: 20px;
    max-width: 300px;
    grid-template-rows: 150px 150px;
    grid-template-columns: 300px 300px;
}

.second_cards {
    position: absolute;
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 125%;
    color: #3A4244;
    margin: -285px 0 0px 550px;
}

.second_cards div {
    cursor: pointer;
    -webkit-transition: 2s ease; /* Safari and Chrome */
    -moz-transition: 2s ease; /* Firefox 4 */
    -o-transition: 2s ease; /* Opera */
}

.second_cards > div:hover {
    transition: .5s;
    margin: -20px 0px 20px 0;
    box-shadow: 0px 15px 16px rgba(0, 0, 0, 0.09);
}

.second_card1 {
    background: #9FC8DF;
    border-radius: 10px;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.07);
}

.second_card2 {

    background: #E9E9E9;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}

.second_card4 {

    background: #26242D;

    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}

.second_card5 {
    height: 150px;

    background: rgba(141, 189, 131, 0.7);

    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}

.second_card1_text {
    padding: 23px;
    margin-left: -3px;
}

.second_card2_text {
    padding: 25px;
    margin-left: 6px
}

.second_card3_text {
    padding: 24px;
    margin-left: -2px;
    line-height: 18px;
}

.second_card4_text {
    padding: 28px;
    margin-left: 4px;
    line-height: 17px;
    color: #FFFFFF;
}


.second_card5_title {
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    color: #FFFFFF;
    padding: 18px;
    margin: 0px 0px -6px 6px;
    max-width: 187px;
}

.second_card5_text {
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 72px;
    color: #FFFFFF;
    margin-left: 23px;
}

/* Second2 */
.second_sd1 {
    line-height: 47px;
    padding: 3px;
    margin-bottom: 59px;
}

.third_cards {
    display: grid;
    grid-column-gap: 30px;
    /*max-width: 623px;*/
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 153px;
}

.third_cards div {
    cursor: pointer;
    -webkit-transition: 2s ease; /* Safari and Chrome */
    -moz-transition: 2s ease; /* Firefox 4 */
    -o-transition: 2s ease; /* Opera */
}

.third_cards > div:hover {
    transition: .5s;
    margin: -20px 0px 20px 0;
    box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.15);
}

.third_card1 {
    width: 370px;
    height: 180px;
    background: #FFFFFF;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}

.third_card2 {
    width: 370px;
    height: 180px;
    background: #FFFFFF;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}

.third_card1_title {
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 121%;
    color: #3A4244;
    margin: 30px 0px 0 25px;
}

.third_card1_text {
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 132%;
    color: #3A4244;
    margin: 21px 0px 22px 22px;
}

.icon_01 {
    float: right;
    margin-top: -24px;
    margin-right: 20px;
}

.icon_02 {
    float: right;
    margin: -24px 19px 0px 0;
}

.icon_03 {
    float: right;
    margin: -25px 19px 19px 0;
}

.third_card1_more {
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 125%;
    color: #3A4244;
    margin: 0 0px 0 129px;
}

.arrow {
    margin-left: 8px;
}

/* Calculator */

.calculator {
    width: 970px;
    height: 426px;

    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    margin-bottom: 57px;
    margin-top: -69px;
}

.calc_main {
    margin: 0 0 114px 0px;
}

.calc_over_l {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    color: #3A4244;
    align-items: center;
    letter-spacing: 0.04em;
}

.calc_over_margin {
    margin: -68px 39px 40px 42px;
}

.calc_over_end {
    margin: -68px 39px 8px 42px;
}

.calc_over_r {
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
}

.color-gray {
    color: #5D6365;
}

.color-green {
    color: #68AA55;
}

.calc_over_rub {
    font-size: 18px;
    color: #5D6365;
}

.calc_over_text {
    font-size: 22px;
}

.calc_under_l {
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.045em;
    color: rgba(58, 66, 68, 0.5);
    margin: 0px 39px 0 40px;
    padding-top: 45px;
}

.line_pic {
    margin: -55px 0px 0 42px;
    width: 828px;
}

.line_gray {
    position: relative;
    margin: 0px 0px -9px 513px;
    z-index: 993;
}

.line_green {
    margin: 0px 0px 10px 0px;
    z-index: 994;
    position: relative;
    max-width: 519px;
}

.circle_line {
    z-index: 1000;
    margin: -28px 0px -12px -35px;
    position: relative;
}

.calc_under_end {
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: right;
    letter-spacing: 0.045em;
    color: rgba(58, 66, 68, 0.5);
    margin-right: 34px;
}

.calc_end {
    margin-left: 367px;
}

.credit_text {
    max-width: 535px;
}

.second_text_margin {
    margin-bottom: 69px;
}

/* Question 5 colomn  */
.question {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: repeat(5, 1fr);
    height: 223px;
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 117%;
    letter-spacing: 0.02em;
    color: #3A4244;
}

.question_card1 {
    margin: 0px 0 0px 52px;
}

.question_card1_text {
    margin: -52px 0px 0 48px;
}

.question_card2 {
    margin: 0 0 0 -16px;
}

.question_card2_text {
    margin: -51px 20px 0px 67px;
}

.question_card3 {
    margin: 0px 0px 0px -30px;
}

.question_card3_text {
    margin: -49px -21px 0px 56px;
}

.question_card4 {
    margin: 0px 0 0 5px;
}

.question_card4_text {
    margin: -51px -2px 0 58px;
}

.question_card5 {
    margin: 0 0 0 -17px;
}

.question_card5_text {
    margin: -51px 0 0 57px;
}

/* Request */
.request {
    background-color: white;
}

.request_text {
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    letter-spacing: 0.045em;
    color: #3A4244;
    margin: 41px 0px 56px 51px;
}

/* Form */
.search_form {
    margin-left: 50px
}

.search_form_info {
    display: flex;
    flex-wrap: wrap;
    border: 0;
}

.search_form_fild {
    background: #FFFFFF;
    border: 1px solid #3A4244;
    box-sizing: border-box;
    border-radius: 33px;
    width: 260px;
    height: 54px;
    margin-right: 20px;
    outline: none;
    padding: 20px;

    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.055em;
    color: #3A4244;
}

/* submit */
.search_form_submit {
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 15px;

    color: #FFFFFF;
    width: 260px;
    height: 54px;
    background: radial-gradient(39.13% 39.13% at 50% 5.8%, rgba(255, 255, 255, 0.31) 0%, rgba(255, 255, 255, 0.19) 100%), linear-gradient(79.2deg, rgba(33, 173, 98, 0.96) 66.1%, #00B95C 95.75%);
    box-shadow: 0px 6px 1px #429976;
    border-radius: 41px;
    outline: none;
    border: 0;
    cursor: pointer;
}

#modal-form-send .search_form_text {
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(58, 66, 68, 0.7);
    text-align: center;
}

#modal-form-send .block_info-check {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-form-send .block_info-check span{
    max-width: 464px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-form-send .block_info-check p {
    font-weight: 100;
    color: #3A4244;
}

#modal-form-send .block_info-check .form_text_icon {
    padding-left: 17px;
}

.h4-block{
    max-width: inherit !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
}

.search_form_text {
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(58, 66, 68, 0.7);
    max-width: 212px;
    margin-left: 21px;
    margin-bottom: 71px;
}

/* Contacts */
.contacts {
    background-color: var(--blue-color);
    background-image: url(../img/svg/background_car.svg);
    height: 750px;
    background-repeat: no-repeat;
    background-position: right 37px;
}

.contacts_h3 {
    padding: 57px 0px 10px 461px;
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.045em;
    color: #3A4244;
}

.contacts_h5 {
    padding: 0px 0px 52px 501px;
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.045em;
    color: #3A4244;
}

/* contacts_info */

.contacts_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 104px;
    height: 340px;
    width: 967px;
    background: #FFFFFF;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.07);
    border-radius: 10px 0px 0px 10px;
}

.contacts__title {
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    color: #A0A0A0;
    margin: -23px 0 5px 0;
}

.mobile_question {
    display: none;
}

.calc_mobile {
    display: none;
}

.calc_desktop {
    display: block;
}

img.mobile_boy_pic {
    display: none;
}

.contacts_text {
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #3A4244;
}

.contacts__address {
    padding: 27px 0 0 0;
}

.contacts__address_pic {
    margin: 0px 0px 26px 65px;
}

.contacts__img {
    margin: 14px 0px 4px -25px;
}

.contacts__time {
    margin: -15px 0 0 -1px;
}

.contacts__call {
    margin: -11px 0 0 0;
}

.contacts__letter {
    margin: 13px 0 0 0;
}

.map {
    position: absolute;
    margin: -12px 0px 0px 556px;
}

.contacts_info_mobile_container {
    display: none;
}

.footer {
    height: 161px;
    background-color: var(--blue-color);
    padding-top: 41px;
}

.footer_ooo {
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 125%;
    max-width: 292px;
    letter-spacing: 0.045em;
    color: #697173;
    margin: 0 0px 14px 501px;
}

.footer_text {
    font-family: Graphik;
    font-style: normal;
    font-weight: 300;
    font-size: 8px;
    line-height: 137%;

    letter-spacing: 0.045em;
    text-transform: uppercase;
    color: #697173;
}

.logo_end {
    float: left;
    margin: -7px 0px 0 0;
}

#calculator_line_mobile {
    display: none;
}

.footer_doc {
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 125%;
    letter-spacing: 0.045em;
    color: #697173;
    border-bottom: 1px dashed #3A4244;
    line-height: 1.1em;
    display: inline-block;
}

.footer_marg {
    margin: 10px 0px 0px 17px;
}

.line_pic .irs--round .irs-single {
    display: none;
}

.line_pic .irs--round .irs-single:before {
    display: none;
}

.line_pic .irs--round .irs-handle {
    border-color: #67A955;
}

.line_pic .irs--round .irs-bar {
    background-color: #67A955;
}

.line_pic .irs--round {
    height: auto;
}

.map_mobile {
    display: none;
}

.header_contact-mobile, .text_title-mobile, .text_desc-mobile, .mobile {
    display: none;
}

.hamburger-menu {
    display: none;
}

#modal-free {
    width: 660px !important;
    height: 502px !important;
    max-width: inherit !important;
}

#modal-free .modal-free-title {
    width: 100%;
    padding-top: 27px;
}

#modal-free .modal-free-list {
    width: 100%;
    padding-top: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal-free h2 {
    font-family: Graphik;
    font-weight: 500;
    font-size: 24px;
    line-height: 136%;
    letter-spacing: 0.055em;
}

#modal-free .form_icon {
}

#modal-free .form_icon.form_icon_second {
}

#modal-free .form_text_icon {
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 136%;

    padding-left: 20px;

    letter-spacing: 0.055em;

    color: #3A4244;
}

#modal-free .form_text_icon.form_text_icon_second {
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 136%;

    padding-left: 20px;

    letter-spacing: 0.055em;

    color: #3A4244;
}

#modal-free .botton_green_first {
}

#modal-free .modal-free-button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 60px;
}

.plus, .minus {
    display: none;
}

.content {
    padding: 20px 20px 0px 20px;
}

.content > div {
    font-size: 25px;
    font-weight: bold;
    color: #3A4244;
}

.content > hr {
    margin: 20px 0;
    border: none;
    height: 1px;
    color: #EDEDED;
    background-color: #EDEDED;
}

.content li {
    display: block;
    width: 49%;
    float: left;
    padding: 0px 0 25px 0px;
}

.content li a {
    font-size: 18px;
    font-weight: 100;
}

#modal-city {
    width: 468px;
}

.connect-form-desktop_h2 {
    font-family: Graphik;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    padding-top: 60px;
}

.connect-form-desktop_div {
    padding-top: 45px;
}

.connect-form-desktop_form {
    margin-left: 0;
    padding: 0 39px
}

.connect-form-desktop_fild{
    width: 100%;
    margin-right: 0;
    margin-bottom: 23px;
}

.form_request{
    font-weight: 100;
    font-size: 13px;
    color: #9B9FA0;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.form_request span{
    width: 193px;
}

/* Media */

@media ( max-width: 800px) {
    .container {
        padding: 0;
    }

    .container_margin {
        padding: 0 19px 0 14px;

    }

    #modal-city {
        width: auto;
    }

    .content li {
        width: 100%;
        float: none;
    }

    .second_text_margin {
        font-family: Graphik !important;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: #3A4244;
        margin: -3px 0px 59px -4px;
        letter-spacing: 0.045em;
    }

    .icon_03 {

        margin: -28px 19px 7px 0;
    }

    .hamburger-menu {
        display: block;
    }

    .button_margin {
        height: 49px;
        margin: 0px -8px 0 0 !important;
        font-size: 14px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .third_card1_text {
        max-width: 290px;
        margin: 8px 0px 21px 24px;
    }

    .icon {
        display: none;
    }

    .header_logo-link {
        margin-left: 16px;
    }

    .header {
        height: 308px;
        background: url("/local/asset/img/svg/girl_mobile.svg") no-repeat;
        background-position-x: 134px;
        background-position-y: -9px;
    }

    .header_contact-mobile {
        display: flex;
    }

    .header_contact-mobile a {
        position: absolute;
        width: 129px;
        height: 15px;
        right: 89px;
        top: 18px;

        font-family: Graphik;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 15px;

        color: #3A4244;
    }

    .header_contact-mobile > span {
        position: absolute;
        width: 70px;
        height: 12px;
        right: 148px;
        top: 36px;

        font-family: Graphik;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 12px;

        color: #3A4244;

    }

    /* скрываем чекбокс */
    #menu__toggle {
        opacity: 0;
        display: none;
    }

    /* стилизуем кнопку */
    .menu__btn {
        display: flex; /* используем flex для центрирования содержимого */
        align-items: center; /* центрируем содержимое кнопки */
        position: fixed;
        top: 15px;
        right: 21px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 999;
    }

    /* добавляем "гамбургер" */
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }

    .menu__btn > span::before {
        content: '';
        top: -8px;
    }

    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    /* контейнер меню */
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        z-index: 9;
    }

    /* элементы меню */
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }

    .menu__item:hover {
        background-color: #CFD8DC;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
    }

    .term_credit {
        font-size: 16px;
    }

    .text_title-mobile {
        display: block;
    }

    .text_title-mobile .title-n1 {
        position: absolute;
        width: 162px;
        height: 28px;
        left: 16px;
        top: 82px;

        font-family: Graphik;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 28px;

        color: #3A4244;
    }

    .text_title-mobile .title-n2 {
        position: absolute;
        width: 224px;
        height: 28px;
        left: 16px;
        top: 114px;

        font-family: Graphik;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 28px;

        color: #4092BF;
    }

    .text_title-mobile .title-n3 {
        position: absolute;
        width: 160px;
        height: 28px;
        left: 16px;
        top: 146px;

        font-family: Graphik;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 28px;

        color: #3A4244;

    }

    .text_desc-mobile {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 143px;
        top: 186px;
        max-width: 200px;
    }

    .text_desc-mobile > div {
        display: flex;
        flex-direction: row;
        height: 35px;
    }

    .text_desc-mobile > div > img {
        width: 17px;
    }

    .text_desc-mobile > div > span {
        padding-top: 8px;
        padding-left: 7px;
        font-family: Graphik;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #5D696C;
    }

    .first .first_girl, .first .first_title, .first .first_subtitle, .first .list {
        display: none;
    }

    .botton_green_first {
        position: absolute;
        margin-top: 126px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .botton_green_first a {
        height: 50px;
        line-height: 50px;
        font-size: 14px;
    }

    .button_send {
        margin: 0px 0 -5px 12px;
        width: 17px;
    }

    .car {
        margin-bottom: 0;
    }

    .car_pic {
        max-width: none;
        margin: 18px 0 0px 0px;
    }

    .container_info {
        top: 0;
        left: 0;
        margin-top: 0;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .container_info .info {
        justify-content: center;
    }

    .container_info .info > div {
        flex-direction: column;
        margin: 0;
    }

    .container_info .info > .pasport {
        flex-direction: column;
        padding: 0 0 0 7px;
    }

    .container_info .info > div > div {
        width: 125px;
        height: 25px;
        font-family: Graphik;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 125%;
        text-align: center;
        color: #5D696C;
    }

    .calc_mobile {
        display: block;
    }

    .calc_desktop {
        display: none !important;
    }

    .container_info .info > .mini > div {
        padding-left: 16px;
    }

    .container_info .info > .pasport > div {
        width: 100px;
    }

    .container_info .info > div > .icon_pasport {
        padding: 0px 0px 6px 9px;
    }

    .container_info .info > div > .icon_mini {
        margin: 0;
        padding: 0px 0px 6px 15px;
    }

    .container_info .info > div > .icon_history {
        margin: 0;
        padding: 0px 3px 6px 0;
    }


    .credit h4 {
        width: 164px;
        min-width: auto;
        line-height: 15px;
        font-size: 10px;
    }

    .button_calc-block {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile {
        display: flex;
        margin: 399px 14px 0px 0;
    }

    .first {
        min-height: 375px;
        background-color: #F5FDFF;
    }

    .second {
        padding-top: 0px;
    }

    .second .container, .mobile_area.container {
        padding: 0 15px 0 15px;
    }

    #calculator_line_mobile.line_text {
        margin-top: 50px;
    }

    .second .container p {
        font-family: Graphik;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;

        color: #3A4244;
    }

    .second_sd {
        margin-bottom: 7px;
    }

    .line_text {
        margin-top: 30px;
    }

    .icon {
        flex-flow: column;
        margin: 80px 0px -23px 0px;

        align-items: end;
    }

    .icon_city {
        margin-bottom: 13px;
        font-size: 19px;
        margin-right: 0;
    }

    .nsk {
        font-size: 19px;
    }

    .icon_geo {
        margin-bottom: 23px;
        font-size: 19px;
        margin-right: 142px;
    }

    .icon_call {
        margin-bottom: 10px;
        font-size: 19px;
    }

    /* header */
    .header_logo {
        position: absolute;
    }

    .header_logo_pic {
        width: 100px;
        height: 20px;
    }

    .second_cards {
        position: inherit;
    }


    h1.first_title {
        margin: 0;
    }

    .list {
        margin: -33px 0px 40px 0px;
    }

    .icon_number {
        display: none;
    }

    .button_first {
        position: absolute;
        width: 278px;
    }

    .credit_1 {
        font-family: Graphik;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 17px;
        text-align: center;
        color: #889396;
        padding: 43px 0px 0px 0px;
        margin: 0px -29px 0 29px;
    }

    .credit {
        position: absolute;
        margin: 67px 0 0 0;
    }

    .second_sd_text_marg, .second_sd1 {
        margin-left: 0;
        font-size: 13px;
        max-width: 291px;
    }

    /* Second */
    .calculator, .calc_main, .line_pic {
        width: 100%;
    }

    .calculator {
        margin-top: 20px;
        margin-bottom: 24px;
        width: 360px;
        height: 472px;
    }

    .calc_over_margin {
        padding-left: 0;
        padding-right: 0;
    }

    .calc_over_margin, .calc_end, .calc_over_end, .calc_under_l {
        margin-left: 0;
        margin-right: 0;
    }

    .calc_end {
        padding-top: 45px;
    }

    .calc_over_end {
        align-items: start !important;
    }

    .calc_over_l-1 {
        font-size: 12px;
        line-height: 18px;
    }

    .color-green .calc_over_rub {
        font-size: 20px !important;
    }

    .botton_green {
        height: 100px;
    }

    .calc_over_r.color-green .calc_result {
        font-size: 36px;
    }

    .line_pic {
        margin-left: 0;
    }

    .calc_over_l, .calc_over_r, .calc_over_rub, .calc_over_text, .calc_under_l {
        font-size: 10px;
    }

    .sum_credit {
        font-size: 16px;
    }

    .second_cards {
        display: grid;
        grid-template-rows: 94px 94px 131px 112px 157px;
        grid-template-columns: none;
        margin: 0px 0 0px 0px;
        max-width: 100%;
        padding: 0 15px;
    }

    .second_card1_text {
        padding: 22px;
    }

    .second_card1 img {

        margin-top: -66px !important;
    }

    .second_card4_text {
        color: #FFFFFF !important;
        padding: 22px;
        margin-left: 0px;
        line-height: 18px;
    }

    .second_card4 img {
        margin-top: -79px !important;
    }

    .second_card2 img {
        margin-top: -69px !important;
    }

    .second_card2_text {
        padding: 19px;
        margin-left: 2px;
    }

    .second_card5_title {

        font-weight: 500 !important;
        font-size: 18px !important;

        color: #FFFFFF !important;


    }

    .second_card5_text {
        font-weight: 500 !important;
        font-size: 72px !important;
        line-height: 72px !important;
        color: #FFFFFF !important;
    }

    .second_sd_text_marg {
        margin-bottom: 27px;
    }


    .third_cards {
        margin-bottom: 0px;
        grid-template-rows: repeat(3, 179px);
        grid-template-columns: none;
        grid-gap: 20px;
        justify-content: center;
    }


    .search_form_info {
        display: contents;
    }

    .search_form_fild {
        margin-bottom: 20px;

    }

    .search_form {
        margin-left: 0;
    }

    .request_text {
        font-size: 23px;
        margin: 35px 0px 34px 0px;
        text-align: center;
    }

    .third_card1 {
        width: 329px;
    }

    .third_card2 {
        width: 329px;

    }

    .third_card1_more {
        margin: 0 0px 0 69px;
    }

    .contacts {
        height: 500px;
        background-position: top;
    }

    .contacts_h3 {
        padding: 57px 0px 10px 0px;
    }

    .contacts_h5 {
        padding: 0px 0px 52px 0px;
    }

    .contacts_info {
        margin-left: 0px;
        width: 311px;
        border-radius: 10px 10px 10px 10px;
        flex-direction: column;
        height: auto;
        display: none;
    }

    .irs--round .irs-bar {
        height: 2px !important;
    }

    .irs--round .irs-shadow {
        height: 2px !important;
    }

    .irs--round .irs-line {
        height: 2px !important;
    }

    .irs--round .irs-handle {
        top: 30px !important;
        width: 15px !important;
        height: 15px !important;
        border-color: #fff !important;
        background-color: #67A955 !important;
    }

    .contacts_info_mobile {
        display: block;
        margin-left: 0;
        width: 310px;
        border-radius: 10px 10px 10px 10px;
        position: absolute;
        margin-top: -70px;
    }

    .contacts_info_mobile_container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .botton_green {
        margin: 0 0 0 0;
        display: flex;
        justify-content: center;

    }

    .map {
        position: fixed;
    }

    .botton_green {
        margin: 0 0 0 0;
    }

    .first_girl {
        display: none;

    }

    .search_form_fild {
        margin-right: 0;
    }

    .search_form {
        text-align: center;
        margin-bottom: 50px;
    }

    .search_form_text {
        max-width: inherit;
        margin-left: 0;
    }

    .question {
        height: 371px;
        grid-template-columns: repeat(2, 174px);
        align-items: center;
        padding: 0px 28px 0 16px;
        grid-gap: 25px;
    }

    .question.desktop_question {
        display: none;
    }

    .question.mobile_question {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .question.mobile_question > div {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    .question.mobile_question > div > div {
        margin: 0;
        width: auto;
        height: auto;
        text-align: center;
    }

    .question.mobile_question > div > div.question_card1 {
        width: 114px;
        height: 67px;
    }

    .question.mobile_question > div > div.question_card1 img {
        width: 28px;
        height: 39px;
    }

    .question.mobile_question > div > div.question_card1 p {
        font-size: 14px;
    }

    .question.mobile_question > div > div.question_card2 {
        width: 115px;
        height: 85px;
    }

    .question.mobile_question > div > div.question_card2 p {
        font-size: 14px;
    }

    .question.mobile_question > div > div.question_card2 img {
        width: 36px;
        height: 36px;
    }

    .question.mobile_question > div > div.question_card3 {
        width: 160px;
        height: 118px;
    }

    .question.mobile_question > div > div.question_card3 p {
        font-size: 14px;
    }

    .question.mobile_question > div > div.question_card3 img {
        width: 36px;
        height: 36px;
    }

    .question.mobile_question > div > div.question_card4 {
        width: 132px;
        height: 82px;
    }

    .question.mobile_question > div > div.question_card4 p {
        font-size: 14px;
    }

    .question.mobile_question > div > div.question_card4 img {
        width: 36px;
        height: 36px;
    }

    .question.mobile_question > div > div.question_card5 {
        width: 126px;
        height: 82px;
    }

    .question.mobile_question > div > div.question_card5 p {
        font-size: 14px;
    }

    .question.mobile_question > div > div.question_card5 img {
        width: 36px;
        height: 36px;
    }

    .question.mobile_question > div > div > img {
        width: auto;
        height: auto;
    }

    .question.mobile_question > div > div > p {
        margin: 0;
    }

    .question_card1 img {
        width: 28px;
        height: 39px;
    }

    .question_card2 {
        width: 36px;
        height: 36px;
    }

    .question_card3 {
        width: 36px;
        height: 36px;
    }

    .question_card4 {
        width: 36px;
        height: 36px;
    }

    .question_card5 {
        width: 36px;
        height: 36px;
    }

    .calc_over_l.calc_over_end .calc_over_l-1 {
        width: 130px;
        text-align: right;
    }

    .calc_over_l.calc_over_end .calc_over_r {
        text-align: left;
    }

    .calc_over_l.calc_over_end {
        width: 100%;
    }

    .calc_under_end {
        margin: 0;
        text-align: center;
    }

    .icon.menu__box {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin: 0;
    }

    img#one_click {
        display: none;
    }

    img.mobile_boy_pic {
        display: inline;
    }

    h4.search_form_text {
        margin-bottom: 40px;
    }

    .contacts_h3, .contacts_h5 {
        display: none;
    }

    .calculator.second.container {
        padding: 109px 16px 61px 15px;
    }

    .calculator_line_desktop {
        /*display: none;*/
    }

    .calculator .calculator_line_mobile {
        display: block;
    }

    /* footer */
    .footer .container {
        padding: 0 30px;
    }

    .footer_ooo {
        font-size: 8px;
        margin: 0px 0px 7px 197px;
    }

    .footer_text {
        font-size: 5px;
    }

    .footer_doc {
        margin-bottom: 10px;
        font-size: 5px;
    }

    .map_desktop {
        display: none;
    }

    .map_mobile {
        display: block;
    }

    #modal-form.modal {
        width: 100% !important;
    }

    #modal-free .botton_green_first {
        position: relative;
        margin-top: 0;
    }

    #modal-form h2 {
        text-align: center !important;
        margin-left: 0 !important;
        padding-bottom: 30px;
    }

    #modal-form .search_form_fild {
        width: 100% !important;
    }

    #modal-form .search_form_submit {
        width: 100% !important;
    }

    .request.container > img {
        display: none;
    }

    .form_icon {
        margin: 0 !important;
        float: left;
    }

    #modal-form {
        padding: 40px 30px !important;
    }

    #modal-form p {
        font-size: 10px;
        margin-left: 55px !important;
        padding-top: 5px;
    }

    .form_text_icon {
        font-size: 10px !important;
        max-width: 396px !important;
    }

    .form_request {
        max-width: inherit !important;
        margin: 0 !important;
    }

    #modal-form .search_form_text {
        margin-left: 0 !important;
    }

    #modal-free {
        width: 100% !important;
    }

    #modal-free .botton_green_first {
        padding: 0 !important;
    }

    #modal-free h2 {
        font-size: 20px !important;
    }

    #modal-free .button_first {
        width: auto !important;
        margin: 0 !important;
        padding: 0 20px !important;
        font-size: 15px !important;
    }

    .plus, .minus {
        position: absolute;
        right: 0;
        width: 42px;
        height: 42px;
        background: #67a95547;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: #3A4244;
        font-weight: 100;
    }

    .plus {
        top: 118px;
        right: 19px;
    }

    .minus {
        top: 118px;
        right: 75px;
    }

    .t-290 {
        top: 290px !important;
    }

    .pt-63 {
        padding-top: 63px;
    }
}

.second_sd {
    letter-spacing: 0em !important;
    font-size: 24px !important;
    line-height: 125% !important;
}

.marg_title {
    margin: -24px 0 26px 3px;
}

.credit_margin {
    margin-right: 32px !important;
}

@media ( min-width: 800px) and (max-width: 1200px) {
    /* header */
    .header_logo {
        margin-bottom: 47px;
    }

    .icon {

        margin-left: 0;
        position: absolute;
        width: 100%;
        padding: 0 0 0 0;
        display: none;
    }

    h1.first_title {
        margin: 149px 579px 13px 0px;
    }

    .list {
        margin: -33px 0px 40px 0px;
    }

    .second_sd_text {
        font-size: 20px;
    }

    .credit {
        margin: 90px 0px 0px 0px;
    }


    .container_info {
        left: 407px;
        max-width: 549px;
        display: flex;
        justify-content: center;
    }

    /* Second */
    .second_sd {
        letter-spacing: 0em !important;
        font-size: 24px !important;
        line-height: 125% !important;
    }

    .second_cards {
        margin: 0px 0px 39px 0px;
        position: inherit;

    }

    .car_pic {
        margin: -215px 0px 0px 446px;
    }

    .third_cards {
        margin-bottom: 123px;
        grid-template-rows: 200px 200px;
        grid-template-columns: none;
    }


    .search_form_info {
        display: contents;
    }

    .search_form_fild {
        margin-bottom: 20px;

    }

    .search_form {
        margin-left: 0;
    }

    .request_text {
        font-size: 30px;
        margin: 35px 0px 34px 0px;
        text-align: center;
    }


    .button_main {
        display: inline-table;
    }

    .credit_1 {
        font-family: Graphik;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 17px;
        text-align: center;
        color: #889396;
        padding: 43px 0px 0px 0px;
    }

    .contacts {
        background-position: top;
    }


    .contacts_info {
        margin-left: 0;
        width: auto;
        border-radius: 10px 10px 10px 10px;
    }


    .map {
        position: fixed;
    }

    .botton_green {
        margin: 0px 0px 0px 21px !important;
        display: flex;
        justify-content: center;
    }

    .button_calc {

        margin: 347px 269px 0px 0;
    }

    .question {

        grid-template-columns: repeat(2, 1fr);
        height: 364px;
        font-size: 27px;
    }

    .question_card1 {
        margin: 0px 0 0px 0;
    }

    .question_card1_text {
        margin: -37px 0px 0px 71px;
    }

    .question_card2 {
        margin: 0px 0 0px 0;
    }

    .question_card2_text {
        margin: -38px 0px 0px 70px;
    }

    .question_card3 {
        margin: 0px 0 0px 0;
    }

    .question_card3_text {
        margin: -53px 0px 0px 70px;
    }

    .question_card4 {
        margin: 0px 0 0px 0;
    }

    .question_card4_text {
        margin: -36px 0px 0px 70px;
    }

    .question_card5 {
        margin: 0px 0 0px 0;
    }

    .question_card5_text {
        margin: -34px 0 0px 70px;
    }

    .contacts_h3, .contacts_h5 {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    #modal-form.modal {
        width: 100% !important;
    }

    #modal-form h2 {
        text-align: center !important;
        margin-left: 0 !important;
    }

    #modal-form .search_form_fild {
        width: 100% !important;
    }

    #modal-form .search_form_submit {
        width: 100% !important;
    }

    img#one_click {
        display: none;
    }

    img.mobile_boy_pic {
        display: inline;
    }
}
